

<main>
  <a class="developed-by" href="https://portifolio-remeikis.vercel.app/" target="_blank">
    <span>By Bruno Remeikis</span>
  </a>

  <!-- CHARACTER SELECTION SCREEN -->

  <div class="selection-screen" *ngIf="!inGame">

    <div class="bg-image-container">
      <div class="bg-image"></div>
      <div class="gradient"></div>
    </div>
    
    <!-- <h2>SELEÇÃO</h2> -->

    <div class="container">
      <app-character-selection
        [player]="0"
        [characters]="initialCharacters"
        (selectedCharEvent)="selectCharacter($event)"
        (currentCharHoverEvent)="charHover($event)"
      ></app-character-selection>

      <div class="middle">
        <div>
          <span class="versus">VS</span>
        </div>
        <div>
          <div class="char-name">
            <span *ngIf="currentCharHover">{{ currentCharHover }}</span>
            <button (click)="start()">Lutar!</button>
          </div>
        </div>
      </div>

      <app-character-selection
        [player]="1"
        [characters]="initialCharacters"
        (selectedCharEvent)="selectCharacter($event)"
        (currentCharHoverEvent)="charHover($event)"
      ></app-character-selection>
    </div>

  </div>



  <!-- GAME SCREEN -->

  <div class="game-screen" *ngIf="inGame">

    <div class="bg-image-container">
      <div class="bg-image"></div>
    </div>
    
    <div class="container">
      <div>
        <button (click)="exit()">Voltar</button>
      </div>

      <div class="game">

        <!-- Lado do Jogador 1 (esquerdo; vermelho) -->
        <div class="player-side" *ngIf="selectedCharacter[0]">
          <div class="info">
            <img [src]="imgUtils.charImgUrl(selectedCharacter[0], 'standard_xlarge')" alt="">
            <span class="name">{{ selectedCharacter[0].name }}</span>
            <span>Pontos: {{ score[0] }}</span>
          </div>

          <img [src]="symbols[0]" alt="">
        </div>

        <!-- Tablueiro -->
        <div class="board">
          <button *ngFor="let i of range(9)"
            class="cell"
            (click)="cellClick(i)"
            (mouseenter)="hoverCell(i)"
            (mouseleave)="unhoverCell(i)"
            [class.empty]="getPlayer(i) === null"
            [innerHtml]="getSymbol(i)"
          ></button>

          <div class="separators"> <div></div> <div></div> </div>
          <div class="separators horizontal"> <div></div> <div></div> </div>
        </div>

        <!-- Lado do Jogador 2 (direito; azul) -->
        <div class="player-side" *ngIf="selectedCharacter[1]">
          <div class="info">
            <img [src]="imgUtils.charImgUrl(selectedCharacter[1], 'standard_xlarge')" alt="">
            <span class="name">{{ selectedCharacter[1].name }}</span>
            <span>Pontos: {{ score[1] }}</span>
          </div>

          <img [src]="symbols[1]" alt="">
        </div>

      </div>
    </div>
    
  </div>
</main>

<!-- <router-outlet /> -->
