.bg-image {
  position: fixed;
  inset: 0;
  z-index: 0;

  background-image: url('../assets/fundo-1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 20%;
  transform: scale(1.1);
  filter: blur(8px);
}

main {
  position: relative;

  display: flex;
  flex-direction: column;

  // background-color: var(--bg-color);
  min-height: 100svh;

  background: rgb(236,29,36);
  background: linear-gradient(90deg, rgba(236, 29, 36, 0.3) 35%, rgba(0, 95, 255, 0.3) 65%);
}

.selection-screen {
  flex: 1;

  display: flex;
  flex-direction: column;

  padding: 2rem;
  padding-bottom: 0;

  h2 {
    color: white;
    font-weight: bolder;
    text-align: center;
  }

  .selection-section {
    flex: 1;

    display: flex;
    justify-content: space-between;

    
    .middle {
      display: flex;
      flex-direction: column;
      align-items: center;

      padding-bottom: 2rem;

      :first-child {
        flex: 1;

        .versus {
          color: white;
          font-size: 4rem;
        }
      }

      :last-child {
        button {
          background-color: var(--primary-color);
          color: white;
  
          padding: 1rem 1.8rem;
          border: none;
          font-size: 2rem;
          cursor: pointer;
          transition: all 0.1s;
          clip-path: polygon(15% 0, 100% 0, 100% 85%, 85% 100%, 0 100%, 0 15%);
          letter-spacing: 0.1rem;
  
          &:hover {
            background-color: var(--primary-color-600);
          }
        }
      }
    }
  }
}



