

<main>
  <a class="developed-by" href="https://portifolio-remeikis.vercel.app/" target="_blank">
    <span>By Bruno Remeikis</span>
  </a>

  <!-- CHARACTER SELECTION SCREEN -->

  <div class="selection-screen" *ngIf="!inGame">

    <div class="bg-image-container">
      <div class="bg-image"></div>
      <div class="gradient"></div>
    </div>

    <!-- <h2>SELEÇÃO</h2> -->

    <div class="container">
      <app-character-selection
        [player]="0"
        [characters]="initialCharacters"
        [loadingChars]="loadingChars"
        (selectedCharEvent)="selectCharacter($event)"
        (currentCharHoverEvent)="charHover($event)"
      ></app-character-selection>

      <div class="middle">
        <div class="container">
          <img class="logo" src="../assets/img/logos/marvel.png" alt="">
          <span class="versus">VS</span>
          <!-- <img class="versus" src="../assets/img/vs.png" alt="Versus"> -->
        </div>
        <div class="container">
          <div class="char-name">
            <span *ngIf="currentCharHover">{{ currentCharHover }}</span>
          </div>
          <button class="start-btn" (click)="initGame()" [disabled]="!selectedCharacter[0] || !selectedCharacter[1]">Lutar!</button>
        </div>
      </div>

      <app-character-selection
        [player]="1"
        [characters]="initialCharacters"
        [loadingChars]="loadingChars"
        (selectedCharEvent)="selectCharacter($event)"
        (currentCharHoverEvent)="charHover($event)"
      ></app-character-selection>
    </div>

  </div>



  <!-- GAME SCREEN -->

  <div class="game-screen" *ngIf="inGame">

    <div class="bg-image-container">
      <div class="bg-image"></div>
    </div>

    <div class="score">
      <span>{{ score[0] }}</span>
      <span>:</span>
      <span>{{ score[1] }}</span>
    </div>

    <div class="container">
      <!-- <div>
        <button (click)="exit()">Voltar</button>
      </div> -->

      <div class="game">

        <!-- Lado do Jogador 1 (esquerdo; vermelho) -->
        <div class="player-side" *ngIf="selectedCharacter[0]">
          <div class="player-container">
            <app-figure
              [character]="selectedCharacter[0]"
              [player]="0"
            ></app-figure>

            <img class="symbol" [src]="symbols[0]" alt="symbol">
          </div>
        </div>

        <!-- Tablueiro -->
        <div class="board">
          <!-- [innerHtml]="getSymbol(i)" -->
          <button *ngFor="let i of range(9)"
            class="cell"
            (click)="cellClick(i)"
            (mouseenter)="hoverCell(i)"
            (mouseleave)="unhoverCell()"
            [class.empty]="getPlayer(i) === null"
          >
            <img *ngIf="getPlayer(i) !== null || currentCellHover === i"
              class="symbol"
              [src]="getSymbolUrl(i)"
              alt="symbol"
            >
          </button>

          <div class="separators"> <div></div> <div></div> </div>
          <div class="separators horizontal"> <div></div> <div></div> </div>

          <div *ngIf="win"
            [class]="'victory-cut running ' + win.orientation"
            [style.--i]="win.orientation === 'horizontal' || win.orientation === 'vertical' ? win.i : 1"
            [style.--win-animation-time]="winAnimationTime + 's'"
          > <div></div> </div>
        </div>

        <!-- Lado do Jogador 2 (direito; azul) -->
        <div class="player-side" *ngIf="selectedCharacter[1]">
          <div class="player-container">
            <app-figure
              [character]="selectedCharacter[1]"
              [player]="1"
            ></app-figure>

            <img class="symbol" [src]="symbols[1]" alt="">
          </div>
        </div>

      </div>
    </div>

  </div>
</main>

<app-modal
  *ngIf="winModalVisible"
  [visible]="winModalVisible"
  (visibleEvent)="setWinModalVisible($event)"
  [innerCloseable]="false"
  class="endgame-modal"
>
  <div class="container">
    <span class="title">
      Vitória de
      <span [class]="'player-' + turn">{{ selectedCharacter[turn].name }}</span>
    </span>
    <button (click)="resetWin(); setWinModalVisible(false); start();">Novo jogo</button>
  </div>
</app-modal>

<app-modal
  *ngIf="velhaModalVisible"
  [visible]="velhaModalVisible"
  (visibleEvent)="setVelhaModalVisible($event)"
  [innerCloseable]="false"
  class="endgame-modal"
>
  <div class="container">
    <span class="title">Empate</span>
    <button (click)="setVelhaModalVisible(false); start();">Novo jogo</button>
  </div>
</app-modal>

<!-- <router-outlet /> -->
