main {
  display: flex;
  flex-direction: column;

  min-height: 100svh;

  .developed-by {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;

    color: white;

    padding: 1rem;
    border-bottom-left-radius: 0.6rem;

    font-size: 0.8rem;
    text-decoration: none;

    transition: all 0.2s;

    &:hover {
      background-color: var(--primary-color-600);
      color: var(--primary-color-50);
    }
  }
}

// --- SELECTION SCREEN ---

.selection-screen {
  flex: 1;

  display: flex;
  flex-direction: column;

  .bg-image-container {
    .bg-image {
      position: fixed;
      inset: 0;
      z-index: 0;

      background-image: url('../assets/img/bg/selection-bg.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position-y: 20%;
      transform: scale(1.1);
      filter: blur(8px);
    }

    .gradient {
      position: fixed;
      inset: 0;
      z-index: 0;

      background-color: var(--primary-color);
      background: linear-gradient(90deg, rgba(236, 29, 36, 0.3) 35%, rgba(0, 95, 255, 0.3) 65%);
    }
  }

  .container {
    z-index: 500;

    flex: 1;

    display: flex;
    // justify-content: center;
    justify-content: space-evenly;
    // justify-content: space-between;

    padding: 2rem;
    padding-bottom: 0;

    .middle {
      display: flex;
      flex-direction: column;
      align-items: center;
      // justify-content: center;

      padding-bottom: 2rem;

      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .container:first-child {
        flex: 1;

        justify-content: center;

        .logo {
          position: absolute;
          top: 1rem;
          width: 14rem;
        }

        .versus {
          display: block;
          color: white;
          //width: 20rem;
          font-size: 8rem;
          font-family: "Permanent Marker", cursive;

          background: var(--primary-color);
          background: linear-gradient(to top, var(--primary-color) 0%, var(--primary-color-700) 100%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          // text-shadow: 1px 1px 2px red, 0 0 1em white, 0 0 0.2em white;
          filter: drop-shadow(2px 2px var(--primary-color-200));
          -webkit-filter: drop-shadow(2px 2px var(--primary-color-200));
        }
      }

      .container:last-child {
        flex: 1;

        justify-content: end;

        width: 10rem;

        .char-name {
          span {
            display: block;
            color: rgba(255, 255, 255, 0.75);
            margin-bottom: 2rem;
            text-align: center;
            text-wrap: balance;
            font-size: 1.2rem;
          }
        }

        .start-btn {
          display: block;
          background-color: var(--primary-color);
          color: white;

          padding: 1.5rem 3rem;
          border: none;
          font-size: 2rem;
          transition: all 0.1s;
          clip-path: polygon(15% 0, 100% 0, 100% 85%, 85% 100%, 0 100%, 0 15%);
          letter-spacing: 0.1rem;

          &:disabled {
            background-color: gray;
            cursor: not-allowed;
          }

          &:not(:disabled) {
            cursor: pointer;
            &:hover {
              background-color: var(--primary-color-600);
            }
          }
        }
      }
    }
  }
}

// --- SELECTION SCREEN ---

.game-screen {
  flex: 1;

  display: flex;
  flex-direction: column;
  overflow: hidden;

  .bg-image-container {
    .bg-image {
      position: fixed;
      inset: 0;
      z-index: 0;

      background-image: url('../assets/img/bg/game-bg.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      // background-position-y: 20%;
      background-position: center;
      transform: scale(1.1);
      // filter: blur(4px);
      filter: brightness(0.75);
      // filter: grayscale(1);
    }
  }

  .score {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(50, 50, 50);

    width: 15rem;
    margin-top: 1rem;
    padding: 0.6rem 0;
    // groove, ridge, inset
    border: 10px outset rgb(25, 25, 25);

    span {
      font-size: 7rem;
      font-family: 'Digital';
    }

    span:nth-child(1) {
      flex: 1;
      color: var(--primary-color);
      text-align: right;
      filter: drop-shadow(2px 2px var(--primary-color-200));
      -webkit-filter: drop-shadow(2px 2px var(--primary-color-200));
    }

    span:nth-child(2) {
      color: white;
      margin: 0 1rem;
    }

    span:nth-child(3) {
      flex: 1;
      color: var(--secondary-color);
      text-align: left;
      filter: drop-shadow(2px 2px var(--secondary-color-200));
      -webkit-filter: drop-shadow(2px 2px var(--secondary-color-200));
    }
  }

  .container {
    z-index: 500;

    flex: 1;

    display: flex;
    flex-direction: column;

    button {

    }

    .game {
      flex: 1;

      display: flex;
      align-items: center;
      justify-content: center;

      // padding: 2rem;
      padding: 3rem 0;

      .player-side {
        flex: 1;

        display: flex;

        &:first-child {
          align-self: start;
          --gsp-container-clip-path: polygon(0 0, 80% 0, 100% 20%, 100% 80%, 80% 100%, 0 100%);
        }

        &:last-child {
          align-self: end;
          justify-content: end;

          // --gsp-container-clip-path: polygon(0 0, 80% 0, 100% 20%, 100% 80%, 80% 100%, 0 100%);
          --gsp-container-clip-path: polygon(20% 0, 100% 0, 100% 100%, 20% 100%, 0 80%, 0 20%);

          .player-container { flex-direction: row-reverse; }
        }

        .player-container {
          display: flex;
          gap: 2rem;

          background-color: rgba(0, 0, 0, 0.75);
          padding: 1.4rem 2rem 3rem 1.6rem;
          // clip-path: polygon(15% 0, 100% 0, 100% 85%, 85% 100%, 0 100%, 0 15%);
          // overflow: visible;
          clip-path: var(--gsp-container-clip-path);

          .symbol {
            transform: scale(1.1);
          }
        }
      }

      .board {
        $gap: 0.5rem;
        $cellSize: 10rem;

        position: relative;

        display: grid;
        grid-template-columns: repeat(3, $cellSize);
        grid-row: $cellSize;
        gap: $gap;

        width: calc(3 * $cellSize + 2 * $gap);

        .cell {
          z-index: 100;

          display: flex;
          align-items: center;
          justify-content: center;

          width: $cellSize;
          height: $cellSize;
          background-color: transparent;
          border: none;

          cursor: pointer;
          transition: background-color 0.1s;

          &:not(.empty) { cursor: inherit; }

          &.empty:hover {
            opacity: 0.5;
            background-color: rgba(255, 255, 255, 0.2);
          }

          img { color: white; }
        }

        .separators {
          position: absolute;
          inset: 0;

          display: flex;
          justify-content: space-evenly;

          div {
            width: $gap;
            height: 100%;
            // background-color: rgb(255, 255, 255, 0.6);
            background-color: var(--primary-color-200);
            border-right: 4px solid var(--secondary-color-700);
            // border-radius: 99rem;
            border-radius: 0.1rem;
          }

          &.horizontal { transform: rotate(90deg); }
        }

        .victory-cut {
          z-index: 9999;
          position: absolute;
          inset: 0;

          div {
            $cutWeight: 0.6rem;

            width: 100%;
            height: $cutWeight;
            background-color: white;
            margin-top: calc(
                $cellSize / 2 +
                $cutWeight / 2 +
                $cellSize * var(--i)
            );
            border-radius: 99rem;
          }

          &.running div {
            animation: cut 1s;
          }

          &.horizontal {

          }
          &.vertical {
            transform: rotate(-90deg);
          }
          &.primary-diagonal {
            --i: 1 !important;
            transform: rotate(45deg);
          }
          &.secondary-diagonal {
            --i: 1 !important;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}

.endgame-modal {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
      display: block;
      font-size: 1.8rem;

      span.player-0 { color: var(--primary-color); }

      span.player-1 { color: var(--secondary-color); }
    }

    button {
      display: block;

      background-color: var(--primary-color);
      color: var(--primary-color-50);
      margin-top: 2rem;
      padding: 1rem 1.4rem;
      border: none;
      border-radius: 0.4rem;
      clip-path: polygon(15% 0, 100% 0, 100% 85%, 85% 100%, 0 100%, 0 15%);
      font-size: 1.6rem;
      cursor: pointer;
      transition: all 0.1s;

      &:hover {
        background-color: var(--primary-color-700);
      }
    }
  }
}

@keyframes cut {
  from { width: 0; }
  to { width: 100%; }
}
