.figure {
  &.player-0 {
    --s-selected-char-img-clip-path: polygon(15% 0, 100% 0, 100% 85%, 85% 100%, 0 100%, 0 15%);

    --s-selected-char-name-pl: 8rem;
    --s-selected-char-name-pr: 1rem;
    --s-selected-char-name-left: calc(var(--s-selected-char-name-pl) * -1);
    --s-selected-char-name-right: 3rem;
    --s-selected-char-name-clip-path: polygon(0 0, 100% 0, 96% 100%, 0 100%);
    --s-selected-char-name-text-align: right;
    --s-selected-char-name-background-image: linear-gradient(to right, transparent 20%, var(--primary-color) 60%);
  }

  &.player-1 {
    --s-selected-char-img-clip-path: polygon(0 0, 85% 0, 100% 15%, 100% 100%, 15% 100%, 0 85%);

    --s-selected-char-name-pl: 1rem;
    --s-selected-char-name-pr: 8rem;
    --s-selected-char-name-left: 3rem;
    --s-selected-char-name-right: calc(var(--s-selected-char-name-pr) * -1);
    --s-selected-char-name-clip-path: polygon(0 0, 100% 0%, 100% 100%, 4% 100%);
    --s-selected-char-name-text-align: left;
    --s-selected-char-name-background-image: linear-gradient(to left, transparent 20%, var(--secondary-color) 60%);
  }

  position: relative;

  img {
    width: 15.625rem; // <- 250px;
    clip-path: var(--s-selected-char-img-clip-path);
  }

  .name {
      position: absolute;
      left: var(--s-selected-char-name-left);
      right: var(--s-selected-char-name-right);

      background-image: var(--s-selected-char-name-background-image);
      color: white;

      padding-left: var(--s-selected-char-name-pl);
      padding-right: var(--s-selected-char-name-pr);
      padding-top: 0.4rem;
      padding-bottom: 0.4rem;
      margin-top: -1rem;

      clip-path: var(--s-selected-char-name-clip-path);

      text-align: var(--s-selected-char-name-text-align);
      text-wrap: balance;
      text-shadow: var(--primary-color) 0 0;
  }
}
