$chars-cols: 5;
$chars-fig-size: 100px;
$chars-fig-border: 0.1rem;
$chars-padding: 0.1rem;
$chars-box-size: calc($chars-fig-size + $chars-padding * 2 + $chars-fig-border * 2);

$selected-char-fig-size: 200px;

:host {
    display: flex;
    flex-direction: column;

    width: calc($chars-cols * ($chars-box-size) + var(--scrollbar-size));

    // Player 1 (red side)
    &:first-child {
      --s-chars-border-color: var(--primary-color-600);

      --s-selected-char-img-clip-path: polygon(15% 0, 100% 0, 100% 85%, 85% 100%, 0 100%, 0 15%);

      --s-selected-char-name-pl: 8rem;
      --s-selected-char-name-pr: 1rem;
      --s-selected-char-name-left: calc(var(--s-selected-char-name-pl) * -1);
      --s-selected-char-name-right: 2rem;
      --s-selected-char-name-clip-path: polygon(0 0, 100% 0, 96% 100%, 0 100%);
      --s-selected-char-name-text-align: right;

      --s-selected-char-name-background-image: linear-gradient(to right, transparent 20%, var(--primary-color) 60%);

      --s-input-border-color: var(--primary-color-600);
      --s-input-border-ml: calc(var(--scrollbar-size) + $chars-padding);
      --s-input-border-mr: 0;
      --s-input-border-clip-path: polygon(0 0, 100% 0%, 96% 100%, 0% 100%);
      --s-input-border-text-align: left;

      .characters { direction: rtl; }
    }

    // Player 1 (blue side)
    &:last-child {
      --s-chars-border-color: var(--secondary-color-600);

      --s-selected-char-img-clip-path: polygon(0 0, 85% 0, 100% 15%, 100% 100%, 15% 100%, 0 85%);

      --s-selected-char-name-pl: 1rem;
      --s-selected-char-name-pr: 8rem;
      --s-selected-char-name-left: 2rem;
      --s-selected-char-name-right: calc(var(--s-selected-char-name-pr) * -1);
      --s-selected-char-name-clip-path: polygon(0 0, 100% 0%, 100% 100%, 4% 100%);
      --s-selected-char-name-text-align: left;

      --s-selected-char-name-background-image: linear-gradient(to left, transparent 20%, var(--secondary-color) 60%);

      --s-input-border-color: var(--secondary-color-600);
      --s-input-border-ml: 0;
      --s-input-border-mr: calc(var(--scrollbar-size) + $chars-padding);
      --s-input-border-clip-path: polygon(0 0, 100% 0%, 100% 100%, 4% 100%);
      --s-input-border-text-align: right;

      ::-webkit-scrollbar-thumb {
        background-color: var(--secondary-color);
      }
      ::-webkit-scrollbar-thumb:hover {
        background-color: var(--secondary-color-600);
      }
    }

    .selected-character {
      flex: 1;

      display: flex;
      justify-content: center;

      .figure {
        position: relative;
        // display: inline-block;

        img {
            clip-path: var(--s-selected-char-img-clip-path);
        }

        .name {
            position: absolute;
            left: var(--s-selected-char-name-left);
            right: var(--s-selected-char-name-right);
            
            background-image: var(--s-selected-char-name-background-image);
            color: white;

            padding-left: var(--s-selected-char-name-pl);
            padding-right: var(--s-selected-char-name-pr);
            padding-top: 0.4rem;
            padding-bottom: 0.4rem;
            margin-top: -1rem;

            clip-path: var(--s-selected-char-name-clip-path);

            text-align: var(--s-selected-char-name-text-align);
            text-wrap: balance;
            text-shadow: var(--primary-color) 0 0;
        }
      }

      .no-figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        span {
          color: white;
        }
      }
    }

    .input-filterCharacters {
      background-color: rgba(0, 0, 0, 0.2);
      color: black;

      padding: 0.4rem 0.8rem;
      border: 0.1rem solid var(--s-input-border-color);
      border-radius: 0.2rem;
      margin-left: var(--s-input-border-ml);
      margin-right: var(--s-input-border-mr);

      clip-path: var(--s-input-border-clip-path);

      text-align: var(--s-input-border-text-align);

      &::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.6);
        // text-shadow: 0 0 1px var(--primary-color);
      }

      &:focus {
        outline-color: gold;
      }
    }

    .characters {
      $fig-border-size: 0.4rem;

      display: grid;
      grid-template-columns: repeat($chars-cols, auto);
      grid-auto-rows: auto;
      align-content: flex-start;

      height: calc(3 * $chars-box-size + $chars-fig-size / 2);
      overflow-y: auto;
      overflow-x: hidden;

      .character {
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: $chars-padding;
        box-sizing: border-box;

        transition: all 0.1s;

        img {
          filter: brightness(0.8);
          transition: all 0.1s;
          border: $chars-fig-border solid var(--s-chars-border-color);
          border-radius: 0.2rem;
        }

        &:not(.selected) {
          cursor: pointer;
        }

        &.selected {
          background-color: gold;
          img {
            border-color: gold;
            filter: brightness(1);
          }
        }

        &:hover {
          img { filter: brightness(1.2); }

          .name {
            display: block;
            opacity: 1;
          }
        }

        .name {
          position: absolute;
          top: -1rem;
          z-index: 20;

          opacity: 0;
          text-align: center;

          transition: opacity 0.1s;
        }
      }
    }
  }